/* * {
    color: #FFC673;
    background-color: #554DD8;
} */

body {
    background-color: #e9d8a6;
}

button {
    font-size: 30px;
    background-color: #94d2bd;
    color: #e9d8a6;
}

#signup {
    font-size: 30px;
    background-color: #0a9396;
    color: #94d2bd;
}

#signup:hover {
background-color: #ee9b00;
color: #e9d8a6;
}

h1, h2 {
    color: #005f73;
}

span {
    color: #005f73;
}

.tag {
    color: #0a9396;
    background-color: #94d2bd;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* li {
    color: blue;
}

.done {
    color: grey;
}

#clear {
    background-color: red;
    color: white;
} */

/* span a {
color: #005f73;
} */
.post a {
color: #005f73;
}

footer a {
    color: #0a9396;
}


/* header a {
    font-size: 30px;
    color: teal;
}

#dislikes a {
font-weight: 700;
color: red;
} */


input + button {
    background-color: #ca6702;
}


footer > a {
    color: #bb3e03;
    font-size: 20px;
}

input[type="password"] {
    color: #ee9b00;
}

a[href*="google"] {
    color: #9b2226;
}

button:hover {
    background-color: #ee9b00;
}

.post button:active {
    /* background-color: #2a9d8f; */
    color: #2a9d8f;
}

.post:nth-of-type(2n) {
    background-color: #e0d0a2;
}