h1 {
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 20px;
  text-decoration: wavy underline plum;
}

/*
 h1 {
  text-align: center;
  font-weight: 600;
  text-decoration: #ff9700 underline wavy;
  letter-spacing: 10px;
  font-size: 1, 5cm;
  color: #2219b2;
  /* font-family: fantasy, Gill Sans, sans-serif; 
  font-family: monospace;
} 
*/

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
